{% if afi == 4 and 'ipv4' in bgp %}
{% set neighbors = bgp['ipv4'] %}
{% elif afi == 6 and 'ipv6' in bgp %}
{% set neighbors = bgp['ipv6'] %}
{% else %}
{% set neighbors = [] %}
{% endif %}

{% for neighbor in neighbors|sort() %}
{% set p = neighbors[neighbor] %}
protocol bgp {{ neighbor }} {
    neighbor {{ p.neighbor_ip }} as {{ p.remote_as }};
    source address {{ p.local_ip }};
{% if p.local_as is not defined %}
{% set local_as = bgp.defaults.local_as %}
{% else %}
{% set local_as = p.local_as %}
{% endif %}
    local as {{ local_as }};
    hold time 90;
    error wait time 60, 300;
    error forget time 300;
    next hop self;
{% if p.allow_as_in is defined %}
    allow local as {{ p.allow_as_in }};
{% endif %}
    import keep filtered;
{% if p.import_filter is not defined %}
    import none;
{% elif p.import_filter == 'all' %}
    import all;
{% else %}
    import filter {{ p.import_filter }};
{% endif %}
{% if p.export_filter is not defined %}
    export none;
{% elif p.export_filter == 'all' %}
    export all;
{% else %}
    export filter {{ p.export_filter }};
{% endif %}
{% if p.preference is defined %}
    preference {{ p.preference }};
{% endif %}
{% if p.direct is defined and p.direct and p.direct %}
    direct;
{% endif %}
{% if p.rr_client is defined and p.rr_client %}
    rr client;
{% endif %}
{% if p.multihop is defined and p.multihop %}
    multihop;
{% endif %}
}

{% endfor %}
