function reject_bogon_prefixes()
prefix set bogons;
prefix set acceptable_sizes;
prefix set below_dfz_boundry;
{
        below_dfz_boundry = [ 2000::/3{49,128} ];
        acceptable_sizes = [ 2000::/3{12,48} ];
        bogons = [
                0000::/8{8,128},                /* loopback, unspecified, v4-mapped */
                0064:ff9b::/96{96,128},         /* RFC 6052 - IPv4-IPv6 Translation */
                0100::/8{8,128},                /* RFC 4291 - Reserved by IETF */
                0100::/64{64,128},              /* RFC 6666 - reserved for Discard-Only Address Block */
                0200::/7{7,128},                /* RFC 4048 - Reserved by IETF */
                0400::/6{6,128},                /* RFC 4291 - Reserved by IETF */
                0800::/5{5,128},                /* RFC 4291 - Reserved by IETF */
                1000::/4{4,128},                /* RFC 4291 - Reserved by IETF */
                2001::/33{33,128},              /* RFC 4380 - Teredo prefix */
                2001:0:8000::/33{33,128},       /* RFC 4380 - Teredo prefix */
                2001:0002::/48{48,128},         /* RFC 5180 - Benchmarking */
                2001:0003::/32{32,128},         /* RFC 7450 - Automatic Multicast Tunneling */
                2001:10::/28{28,128},           /* RFC 4843 - Deprecated ORCHID */
                2001:20::/28{28,128},           /* RFC 7343 - ORCHIDv2 */
                2001:db8::/32{32,128},          /* RFC 3849 - NON-ROUTABLE range to be used for documentation purpose */
                2002::/16{16,128},              /* RFC 3068 - 6to4 prefix */
                3ffe::/16{16,128},              /* RFC 5156 - used for the 6bone but was returned */
                4000::/3{3,128},                /* RFC 4291 - Reserved by IETF */
                5f00::/8{8,128},                /* RFC 5156 - used for the 6bone but was returned */
                6000::/3{3,128},                /* RFC 4291 - Reserved by IETF */
                8000::/3{3,128},                /* RFC 4291 - Reserved by IETF */
                a000::/3{3,128},                /* RFC 4291 - Reserved by IETF */
                c000::/3{3,128},                /* RFC 4291 - Reserved by IETF */
                e000::/4{4,128},                /* RFC 4291 - Reserved by IETF */
                f000::/5{5,128},                /* RFC 4291 - Reserved by IETF */
                f800::/6{6,128},                /* RFC 4291 - Reserved by IETF */
                fc00::/7{7,128},                /* RFC 4193 - Unique Local Unicast */
                fe80::/10{10,128},              /* RFC 4291 - Link Local Unicast */
                fec0::/10{10,128},              /* RFC 4291 - Reserved by IETF */
                ff00::/8{8,128}                 /* RFC 4291 - Multicast */
        ];
        if (net ~ bogons) then {
                print "reject_bogon_prefixes() protocol ", proto, " bogon prefix: ", net, " path: ", bgp_path;
                reject;
        }
        if (net ~ below_dfz_boundry) then {
                print "reject_bogon_prefixes() protocol ", proto, " Small prefix, adding NO_EXPORT community: ", net, " path: ", bgp_path;
                bgp_community.add((65535, 65281));
        } else if !(net ~ acceptable_sizes) then {
                print "reject_bogon_prefixes() protocol ", proto, " Too large or too small prefix: ", net, " path: ", bgp_path;
                reject;
        }
}

