{% if statics is defined %}
protocol static static1 {
{% for static in statics[afi].keys() %}
{% if statics[afi][static]['via'] == 'blackhole' %}
    route {{ static }} blackhole;
{% else %}
    route {{ static }} via {{ statics[afi][static]['via'] }};
{% endif %}
{% endfor %}
}
{% endif %}
