log syslog all;

router id 145.116.208.0;

{% include "defines.j2" %}

include "rpki-data.ipv{{ afi }}.conf";

{% include "generic.j2" %}

protocol device {
    scan time 10;
}

protocol kernel {
    export filter {
        krt_prefsrc = 145.116.208.0;
        accept; 
    };
    scan time 15;
}
protocol static static_bgp { 
    import all;

    route 145.116.208.0/20 reject;
}

protocol static {
    route 145.116.208.0/22 via 145.116.208.18;
    route 145.116.212.0/24 via 145.116.208.18;
}

protocol bgp signet {
    import all;
    export where proto = "static_bgp";

    local as 1150;
    neighbor 31.223.173.22 as 28878;
}
