filter atr_in
{
    scrub_communities(trusted);
    if net = 67.221.245.0/24 then {
        bgp_large_community.add((15562,0,1));
        accept;
    }
    reject;
}

filter tardis_in
{
    if (net = 192.147.168.0/25) then accept;
    reject;
}

filter ircd_in
{
    if (net = 165.254.255.132/32) then accept;
    reject;
}

