filter atr_in
{
    scrub_communities(trusted);
    if net = 2607:fae0:245::/48 then {
        bgp_large_community.add((15562,0,1));
        accept;
    }
    reject;
}

filter tardis_in
{
    if net ~ [ 2001:67c:208c:10::/64, 2001:728:1808:1::20/126 ] then accept;
    reject;
}

filter ircd_in
{
    if ( net = 2001:728:1808:2::132/128 ) then accept;
    reject;
}

