filter atr_in
{
    scrub_communities(trusted);
    if net = 2607:fae0:245::/48 then {
        bgp_large_community.add((15562,0,1));
        accept;
    }
    reject;
}

filter mieli_in
{
    if net ~ [ 2001:67c:208c:10::/64, 2001:728:1808:1::20/126 ] then {
        preference = 111;
        accept;
    }
    reject;
}

filter ircd_in
{
    if ( net = 2001:728:1808:2::132/128 ) then accept;
    reject;
}

define TRANSIT_FREE_ASNS = [
{% for asn in bgp_params['transit_free_asns'] %}
     {{ asn }}{%- if not loop.last -%},{% endif %}

{% endfor %}
];

function reject_transit_paths()
int set transit_asns;
{
     transit_asns = TRANSIT_FREE_ASNS;
     if (bgp_path ~ transit_asns) then {
         print "Reject: Transit Free ASNs found downstream: ", net, " ", bgp_path;
         reject;
     }
}

filter AS48603_import
prefix set AS48603;
int set AS48603_origins;
{
{% if bgp['drain_mode'] %}
    send_graceful_shutdown();
{% endif %}
    include "filters/AS48603.ipv6.conf";
    include "filters/AS48603.origins.conf";
    reject_transit_paths();
    reject_bogon_asns();
    reject_bogon_prefixes();
    reject_rpki_invalid();
    if !(bgp_path.last_nonaggregated ~ AS48603_origins) then {
        print "AS48603_import() protocol ", proto, " Origin AS ", bgp_path.last_nonaggregated, " not in IRR AS48603: ", net, " path: ", bgp_path;
        reject;
    }
    if (net ~ AS48603) then {
        bgp_large_community.add((15562,0,1));
        accept;
    }
    print "AS48603_import() protocol ", proto, " prefix not in IRR AS48603: ", net, " path: ", bgp_path;
    reject;
}
